aiofiles
alembic
bcrypt==4.0.1
fastapi
httpx
itsdangerous
Jinja2
openpyxl
passlib[bcrypt]
pillow
psycopg2-binary
pydantic[email]
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
SQLAlchemy
uvicorn[standard]
aiofiles
alembic
fastapi
httpx
itsdangerous
Jinja2
openpyxl
passlib[bcrypt]
pillow
psycopg2-binary
pydantic[email]
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
SQLAlchemy
uvicorn[standard]
aiofiles
alembic
bcrypt==4.0.1
fastapi
httpx
itsdangerous
Jinja2
openpyxl
passlib[bcrypt]
pillow
psycopg2-binary
pydantic[email]
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
SQLAlchemy
uvicorn[standard]
